## Pandas 기초
Pandas 모듈
- Series Class : 1차원
  - 인덱스(index) + 값(value)
- DataFrame Class : 2차원
  - 표와 같은 형태

In [ ]:
import pandas as pd

#### Pandas 연습 01
각 도시의 2015년 인구 데이터를 시리즈로 만드시오.
```
서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64
```

In [ ]:
# pass

#### Pandas 연습 02
DataFrame을 이용하여 아래와 같은 결과를 구성하시오.

| |홍길동|	김사또|	임꺽정|
|---|---|---|---|
|키|	175.3|	180.2|	178.6|
|몸무게|	66.2|	78.9|	55.1|
|나이|	27.0|	49.0|	35.0|

In [ ]:
# pass

#### Pandas 연습 03-1

#### csv 파일 읽어온다.

score.csv

drive_path = '...'

In [ ]:
score = pd.read_csv(drive_path + 'score.csv',
                    index_col='과목', encoding='euc-kr')
score

과목별 평균을 계산하여 column 추가하기
```

        1반  2반	3반	4반	합계	평균
과목
수학	45	44	73	39	201	50.25
영어	76	92	45	69	282	70.50
국어	47	92	45	69	253	63.25
사회	92	81	85	40	298	74.50
과학	11	79	47	26	163	40.75
```

In [ ]:
score['합계'] = score.sum(axis=1)
score

In [ ]:
# pass

#### Pandas 연습 03-2

반평균을 계산 하여 row 추가 하기
```
	      1반	2반	 3반 	4반 	합계	평균
과목
수학	45.0	44.0	73.0	39.0	201.0	50.25
영어	76.0	92.0	45.0	69.0	282.0	70.50
국어	47.0	92.0	45.0	69.0	253.0	63.25
사회	92.0	81.0	85.0	40.0	298.0	74.50
과학	11.0	79.0	47.0	26.0	163.0	40.75
반평균  54.2	77.6	59.0	48.6	239.4	59.85
```

In [ ]:
score.mean()

In [ ]:
# pass

#### Pandas 연습 03-3

반 평균, 합계, 평균을 제외한 데이터 중 과목별 가장 큰 값, 작은 값을 구하시오.

```
과목
수학    73.0
영어    92.0
국어    92.0
사회    92.0
과학    79.0
dtype: float64
```
```
과목
수학    39.0
영어    45.0
국어    45.0
사회    40.0
과학    11.0
dtype: float64
```

In [ ]:
# pass

#### Pandas 연습 03-4

과목별 가장 큰 값과 작은 값의 차를 구하시오.
```
과목
수학    34.0
영어    47.0
국어    47.0
사회    52.0
과학    68.0
dtype: float64
```

In [ ]:
# pass